<!DOCTYPE HTML>
<html>
<head> 
    <meta charset="UTF-8">
	<title>TODO: Title goes here</title>
	<meta name="description" content="TODO: description goes here ">
    <!-- linking a css style sheet -->
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/css/AmandaTemplate.css">
   </head>
<body>	
    <div class="container">
        <div class="header">
            <h1><span>(Python) </span> Dashboard Page</h1>
            <h3>Assigment - optional</h3>
            <div class="descr">
                <p>Assigment description:</p>
                <p>User login and register page</p>
                <ul>
                    <li>Index page to login and register</li>
                </ul>
            </div>
        </div><!-- end of header content-->
        <div class="maincontent">
            <p style="text-align:right"> Welcome: {{ session['name']}} - ({{ session['id']}})  <a href="/newplan">Add New Travel Plan</a> - <a href="/logout">Logout</a></p>

            <h3>My trips schedule</h3>
            <table>
                    <tr>
                        <th class="tab">Destination</th>
                        <th class="tab">Travel Start Date</th>
                        <th class="tab">Travel End Date</th>
                        <th class="tab">Plan</th>
                    </tr>
            </table>

            <h3>Other's trip schedule</h3>
            
            

        </div><!-- end of main content-->
        <div class="footer">
            <p>created by: Amanda Fry</p>
            <a class="footerSpace" href="mailto:FeAmandaF@hotmail.com">FeAmandaF@hotmail.com</a>
            <a href="https://www.linkedin.com/in/amandafry1">Amanda's LinkedIn profile</a>
        </div><!-- end of footer -->
      </div><!-- end of container -->
</body>
</html>
